<div class="full-width">
  <mat-toolbar class="mat-toolbar-style" color="primary" fxLayout="row">
    <div class="logo">
      <span><a routerLink="/">Game Changer</a></span>
    </div>
    <ul>
      <li *ngIf="userIsAuthenticated">
        <a
          mat-button
          routerLink="games/list"
          routerLinkActive="mat-accent"
          id="headerGamesListButton"
          >Games</a
        >
      </li>
      <li *ngIf="userIsAuthenticated">
        <a
          mat-button
          routerLink="play"
          routerLinkActive="mat-accent"
          id="headerPlayButton"
          >Lets' Play!</a
        >
      </li>
    </ul>
    <span class="spacer"></span>
    <ul class="nomenu">
      <li *ngIf="!userIsAuthenticated">
        <a
          mat-button
          routerLink="/auth/login"
          routerLinkActive="mat-accent"
          id="headerLoginButton"
          >Login</a
        >
      </li>
      <li *ngIf="!userIsAuthenticated">
        <a
          mat-button
          routerLink="/auth/signup"
          routerLinkActive="mat-accent"
          id="headerSignupButton"
          >Signup</a
        >
      </li>
      <li *ngIf="userIsAuthenticated">
        <a mat-button (click)="onLogout()" id="headerLogoutButton">Logout</a>
      </li>
    </ul>
    <div class="menu">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu" class="primary-background">
        <a
          *ngIf="!userIsAuthenticated"
          mat-button
          routerLink="/auth/login"
          routerLinkActive="mat-accent"
          id="headerLoginMenuButton"
          >Login</a
        >

        <a
          *ngIf="!userIsAuthenticated"
          mat-button
          routerLink="/auth/signup"
          routerLinkActive="mat-accent"
          id="headerSignupMenuButton"
          >Signup</a
        >

        <a
          *ngIf="userIsAuthenticated"
          mat-button
          (click)="onLogout()"
          id="headerLogoutMenuButton"
          >Logout</a
        >
      </mat-menu>
    </div>
  </mat-toolbar>
</div>
