@import "../../theme.scss";
$primary: map-get($theme, primary);

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

a {
  text-decoration: none;
  color: white;
}

::ng-deep .primary-background {
  background: mat-color($primary);
  color: white;
}

::ng-deep .mat-menu-panel {
  min-width: auto !important;
  min-height: auto !important;
  margin-top: 10px;
}

.spacer {
  flex: 1 1 auto;
}

.mat-toolbar-style {
  margin: auto;
  max-width: 1600px;
  min-height: 64px;
  max-height: 64px;
}

.full-width {
  width: 100%;
  background: mat-color($primary);
}

.menu {
  display: none;
}
.nomenu {
  display: flex;
}

@media screen and (max-width: 400px) {
  .menu {
    display: flex;
  }
  .nomenu {
    display: none;
  }
}
