<mat-card class="mat-card-style">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onLogin()" *ngIf="!isLoading">
    <h2>Login</h2>
    <mat-form-field class="mat-form-field-style" appearance="legacy">
      <mat-label>Email</mat-label>
      <input
        matInput
        formControlName="email"
        type="email"
        id="email"
        required
      />
      <mat-error
        *ngIf="form.controls.email.touched && form.controls.email.invalid"
      >
        <span *ngIf="form.controls.email.errors?.required">{{
          errors.required
        }}</span>
        <span *ngIf="form.controls.email.errors?.wrongEmail">{{
          errors.invalidEmail
        }}</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="mat-form-field-style" appearance="legacy">
      <mat-label>Password</mat-label>
      <input
        matInput
        formControlName="password"
        type="password"
        id="password"
        required
      />
      <mat-error
        *ngIf="form.controls.password.touched && form.controls.password.invalid"
      >
        <span *ngIf="form.controls.password.errors?.required">{{
          errors.required
        }}</span>
        <span *ngIf="form.controls.password.errors?.minlength">{{
          errors.minLength6
        }}</span>
      </mat-error>
    </mat-form-field>

    <div class="forget-pw">
      <a routerLink="/pw-reset/request-reset-password"
        >Don't remember your password?</a
      >
    </div>
    <button mat-raised-button type="submit" color="accent" id="loginButton">
      Login
    </button>
  </form>
</mat-card>
