<div class="add-button-container">
  <button mat-fab color="accent" (click)="addGame()">
    <mat-icon>add</mat-icon>
  </button>
</div>
<mat-spinner *ngIf="isLoading"></mat-spinner>

<div *ngIf="games.length > 0" class="gamesList">
  <h2>Your games</h2>
  <div class="grid-container">
    <div
      *ngFor="let game of games; let i = index; trackBy: trackById"
      #gamesRef
    >
      <div class="card" id="{{ 'card' + i }}">
        <div class="menu">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/edit', game.id]">
              <mat-icon>edit</mat-icon>
              <span>Edit</span>
            </button>
            <button mat-menu-item (click)="onDelete(game.id)">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
        </div>

        <div class="image-container">
          <img src="{{ game.imagePath }}" />
        </div>
        <div class="title-container">
          <h1>{{ game.title }}</h1>
        </div>
        <div class="content-container">
          <div class="card-content">
            <div class="gameProperties">
              <div class="content">
                <mat-icon aria-hidden="false">groups_outline</mat-icon>
                {{ game.minPlayers | flatten: game.maxPlayers }}
              </div>
              <div class="content">
                <mat-icon aria-hidden="false">timer</mat-icon>
                {{ game.minPlayTime | flatten: game.maxPlayTime }}
                min
              </div>
              <div class="content">
                <mat-icon aria-hidden="false">person</mat-icon>
                {{ game.minAge }}+
              </div>
            </div>
          </div>
        </div>
        <div
          class="content note"
          *ngIf="game.note != ''"
          (click)="toggleNote(i)"
          truncated="0"
        >
          <mat-icon aria-hidden="false" class="infoIcon">info_outline</mat-icon>
          <div class="textAndMore">
            <div class="noteText">{{ game.note }}</div>
            <div class="showMore">show more</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p class="mat-body-1 info-text" *ngIf="games.length <= 0 && !isLoading">
  No Games added yet!
</p>
