.add-button-container {
  right: calc((100% - 1600px) / 2 + 20px);
  padding-top: 20px;
  position: fixed;
}

@media screen and (max-width: 1600px) {
  .add-button-container {
    right: 20px;
  }
}

.no-games-text {
  text-align: center;
}

.games-searchBar {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.games-searchBar > h2 {
  padding-right: 30px;
}

.search-bar {
  display: flex;
  align-items: center;
}

#cancelIcon,
#openIcon {
  cursor: pointer;
}

#searchBarForm ::ng-deep.mat-form-field-infix {
  width: 0px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.search-bar #cancelIcon {
  transition: all 0.5s ease-in-out;
  opacity: 0;
  display: none;
}

.search-bar-active {
  #searchBarForm::ng-deep.mat-form-field-infix {
    width: 180px;
    opacity: 1;
  }
  #cancelIcon {
    opacity: 1;
    display: block;
  }
}
