<div class="add-button-container">
  <button mat-fab color="accent" (click)="addGame()">
    <mat-icon>add</mat-icon>
  </button>
</div>
<mat-spinner *ngIf="isLoading"></mat-spinner>

<div *ngIf="games.length > 0" class="gamesList">
  <div class="grid-container">
    <div *ngFor="let game of games; let i = index">
      <div class="card" id="{{ 'card' + i }}">
        <div class="imgText">
          <img src="{{ game.thumbnail }}" />
          <div class="content-container">
            <div class="card-content">
              <h1>{{ game.title }}</h1>
              <div class="gameProperties">
                <div class="content">
                  <mat-icon aria-hidden="false">groups_outline</mat-icon>
                  {{ game.minPlayers }} - {{ game.maxPlayers }}
                </div>
                <div class="content">
                  <mat-icon aria-hidden="false">timer</mat-icon>
                  {{ game.minPlayTime }}-{{ game.maxPlayTime }} min
                </div>
                <div class="content">
                  <mat-icon aria-hidden="false">person</mat-icon>
                  {{ game.minAge }}+
                </div>
              </div>
            </div>
          </div>
          <div
            class="content note"
            id="{{ 'game' + i }}"
            *ngIf="game.note != ''"
            (click)="toggleNote(i)"
            truncated="0"
          >
            <mat-icon aria-hidden="false">info_outline</mat-icon>
            {{ (game.note.length>maxNoteLength)? (game.note | slice:0:50)+'..':(game.note) }}
            <!--{{ game.note }}-->
            <div
              *ngIf="game.note.length > maxNoteLength"
              class="showMore"
              id="{{ 'showMore' + i }}"
            >
              show more
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p class="mat-body-1 info-text" *ngIf="games.length <= 0 && !isLoading">
  No Games added yet!
</p>
