mat-grid-list {
  padding-top: 50px;
}

mat-card {
  width: 100%;
  height: 100%;
}

mat-grid-tile {
  background: lightblue;
}

.info-text {
  text-align: center;
}

mat-spinner {
  margin: auto;
}

img {
  height: 150px;
  width: auto;
}

.content {
  display: flex;
  flex: 1 1 auto;
}

.add-button-container {
  right: 20px;
  padding-top: 20px;
  position: fixed;
}
