<div class="add-button-container">
  <button mat-fab color="accent" (click)="addGame()" id="addGameButton">
    <mat-icon>add</mat-icon>
  </button>
</div>
<mat-spinner *ngIf="isLoading"></mat-spinner>
<div *ngIf="allGames.length > 0">
  <div class="games-searchBar">
    <h2>Your games</h2>
    <div class="search-bar" #searchBar>
      <mat-icon matSuffix id="openIcon" (click)="openSearch()">search</mat-icon>
      <form [formGroup]="form" id="searchBarForm">
        <mat-form-field class="form-field" appearance="legacy">
          <mat-label>Search title</mat-label>
          <input
            matInput
            formControlName="searchTitle"
            id="searchBar"
            #searchBarInput
          />
          <mat-icon matSuffix id="cancelIcon" (click)="closeSearch()"
            >close</mat-icon
          >
        </mat-form-field>
      </form>
    </div>
  </div>
  <app-games-view
    [games]="games"
    [showMenu]="true"
    [sortit]="true"
    (deleteEvent)="onDeleteGame($event)"
  ></app-games-view>
</div>

<p class="mat-body-1 no-games-text" *ngIf="allGames.length <= 0 && !isLoading">
  No Games added yet!
</p>
