.add-button-container {
  right: calc((100% - 1600px) / 2 + 20px);
  padding-top: 20px;
  position: fixed;
}

@media screen and (max-width: 1600px) {
  .add-button-container {
    right: 20px;
  }
}

.no-games-text {
  text-align: center;
}

.games-searchBar {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.games-searchBar > h2 {
  padding-right: 30px;
}
