<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <div class="form-container" *ngIf="!isLoading">
    <form [formGroup]="form" (ngSubmit)="requestReset()">
      <mat-form-field class="form-field" appearance="legacy">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required type="email"/>
        <mat-error
          *ngIf="form.controls.email.touched && form.controls.email.invalid"
        >
          <span
            *ngIf="
              form.controls.email.errors && form.controls.email.errors.required
            "
            >This field is mandatory.</span
          >
          <span
            *ngIf="
              form.controls.email.errors && form.controls.email.errors.pattern
            "
            >This field is invalid.</span
          >
        </mat-error>
      </mat-form-field>
      <div class="button-container">
        <button mat-raised-button type="submit" color="accent">
          Reset password
        </button>
      </div>
    </form>
    <div class="dispSuccess" *ngIf="dispSuccess">
      <md-icon class="material-icons">done</md-icon> {{ dispSuccess }}
    </div>
    <div class="dispError" *ngIf="dispError">
      <md-icon class="material-icons">error</md-icon> {{ dispError }}
    </div>
  </div>
</mat-card>
