@import "../../theme.scss";
$accent: map-get($theme, accent);

mat-card {
  max-width: 800px;
  margin: auto;
}

mat-form-field {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.dispSuccess::after {
  display: block;
  width: 100%;
  height: 3px;
  background-color: mat-color($accent);
  content: "";
  z-index: 100;
  animation: fadeout 3s ease forwards;
}

@keyframes fadeout {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
