<mat-card class="mat-card-style">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
    <h2>Sign up for free</h2>
    <mat-form-field class="mat-form-field-style" appearance="legacy">
      <input
        matInput
        type="email"
        placeholder="Email"
        name="email"
        ngModel
        #emailInput="ngModel"
        required
        email
      />
      <mat-error *ngIf="emailInput.invalid">{{
        errors.invalidEmail
      }}</mat-error>
    </mat-form-field>
    <mat-form-field class="mat-form-field-style" appearance="legacy">
      <input
        matInput
        type="password"
        placeholder="Password"
        name="password"
        ngModel
        #passwortInput="ngModel"
        required
      />
      <mat-error *ngIf="passwortInput.invalid">{{
        errors.invalidPassword
      }}</mat-error>
    </mat-form-field>
    <button mat-raised-button type="submit" color="accent">Sign up</button>
  </form>
</mat-card>
