<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input
       matInput
       type="email"
       placeholder="Email"
       name="email"
       ngModel
       #emailInput="ngModel"
       required
       email/>
      <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
      matInput
      type="password"
      placeholder="Password"
      name="password"
      ngModel
      #passwortInput="ngModel"
      required/>
      <mat-error *ngIf="passwortInput.invalid">Please enter a valid password.</mat-error>
    </mat-form-field>
    <div class="server-error" *ngIf="serverError">
      <md-icon class="material-icons">error</md-icon> {{ serverError }}
    </div>
    <button mat-raised-button type="submit" color="accent">Sign up</button>
  </form>
</mat-card>
