/* Game view */
.grid-container {
  display: grid;
  gap: 10px;
  grid-auto-columns: 100px;
  padding-top: 10px;
}

@media screen and (max-width: 1400px) {
  .grid-container-multi {
    grid-template-columns: repeat(4, 1fr) !important;
  }
}

@media screen and (max-width: 1280px) {
  .grid-container-multi {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}

@media screen and (max-width: 860px) {
  .grid-container-multi {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media screen and (max-width: 600px) {
  .grid-container-multi {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}

.game-appear {
  opacity: 0;
  animation: appear 0.5s ease-in forwards;
  height: 100%;
}

.card {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.card-clickable {
  cursor: pointer;
}

.card-clickable:hover {
  box-shadow: 0px 0px 14px 7px rgba(241, 63, 124, 1);
  transform: scale(1.04, 1.04);
}

.active {
  box-shadow: 0px 0px 14px 7px rgba(241, 63, 124, 1);
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 5px 5px 0 0;
  max-width: 80%;
  width: auto;
  height: auto;
}

.normal-img {
  max-height: 200px;
}

.large-img {
  max-height: 300px;
}

.image-container {
  text-align: center;
  margin-top: 10px;
}

.gameProperties {
  display: flex;
  flex: 1 1 auto;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

h1 {
  padding-left: 10px;
  margin-bottom: 5px;
}

.note {
  display: flex;
  flex: 1 1 auto;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.infoIcon {
  padding-right: 5px;
}

.showMore {
  color: gray;
}

.noteText {
  -moz-hyphens: auto;
  -o-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-break: break-word;
}

.hidden {
  display: none;
}

.menu {
  position: absolute;
  z-index: 1;
}
