<mat-card>
  <div class="example-container">
    <h2>Select the game parameters and press Play!</h2>
    <form [formGroup]="form">
      <div class="form-container">
        <mat-form-field class="form-field" appearance="legacy">
          <mat-label>Players</mat-label>
          <mat-select
            formControlName="playerControl"
            name="playerControl"
            ngDefaultControl
            required
          >
            <mat-option value="1">1</mat-option>
            <mat-option value="2">2</mat-option>
            <mat-option value="3">3</mat-option>
            <mat-option value="4">4</mat-option>
            <mat-option value="5">5</mat-option>
            <mat-option value="6">6</mat-option>
            <mat-option value="7">7</mat-option>
            <mat-option value="8">8</mat-option>
            <mat-option value="9">9</mat-option>
            <mat-option value="99">9+</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="legacy">
          <mat-label>Select maximal play time</mat-label>
          <mat-select
            formControlName="maxPlayControl"
            name="maxPlayControl"
            ngDefaultControl
            required
          >
            <mat-option value="15">15 min</mat-option>
            <mat-option value="30">30 min</mat-option>
            <mat-option value="45">45 min</mat-option>
            <mat-option value="60">60 min</mat-option>
            <mat-option value="90">90 min</mat-option>
            <mat-option value="120">120 min</mat-option>
            <mat-option value="999">120+ min</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="legacy">
          <mat-label>Select minimal age</mat-label>
          <mat-select
            formControlName="minAgeControl"
            name="maxPlayControl"
            ngDefaultControl
            required
          >
            <mat-option value="0">0+</mat-option>
            <mat-option value="6">6+</mat-option>
            <mat-option value="12">12+</mat-option>
            <mat-option value="18">18+</mat-option>
          </mat-select>
        </mat-form-field>
        <!--
      <mat-form-field class="form-field" appearance="legacy">
        <mat-label>Game type</mat-label>
        <mat-select formControlName="gameTypeControl" required>
          <mat-option value="boardgame">Boardgame</mat-option>
          <mat-option value="videogame">Videogame</mat-option>
        </mat-select>
      </mat-form-field>
        -->
      </div>
      <div class="button-container">
        <button
          mat-raised-button
          color="accent"
          (click)="getGamesToPlay(false)"
          id="getGamesListButton"
        >
          Game List
        </button>
        <button
          mat-raised-button
          color="accent"
          (click)="getGamesToPlay(true)"
          id="getRandomGameButton"
        >
          Random game
        </button>
      </div>
    </form>
  </div>

  <div class="dispError" *ngIf="dispError">
    <md-icon class="material-icons">error</md-icon> {{ dispError }}
  </div>
</mat-card>

<div class="result-container">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <div class="game-container">
    <mat-card *ngIf="!isLoading && game">
      <h3>Selected game:</h3>
      <div class="game-appear">
        <div class="image-text-container">
          <div class="image-container">
            <img
              src="{{ game.imagePath }}"
              onerror="this.onerror=null; this.src='/assets/images/no-image-icon.png'"
            />
          </div>
          <div class="title-container">
            <h1>{{ game.title }}</h1>
          </div>
          <div class="content-container">
            <div class="card-content">
              <div class="gameProperties">
                <div class="content">
                  <mat-icon aria-hidden="false">groups_outline</mat-icon>
                  {{ game.minPlayers | flatten: game.maxPlayers }}
                </div>
                <div class="content">
                  <mat-icon aria-hidden="false">timer</mat-icon>
                  {{ game.minPlayTime | flatten: game.maxPlayTime }}
                  min
                </div>
                <div class="content">
                  <mat-icon aria-hidden="false">person</mat-icon>
                  {{ game.minAge }}+
                </div>
              </div>
            </div>
          </div>
          <div class="note" *ngIf="game.note != ''">
            <mat-icon aria-hidden="false">info_outline</mat-icon>
            {{ game.note }}
          </div>
        </div>
      </div>
    </mat-card>
  </div>
  <div class="games-container">
    <mat-card *ngIf="!isLoading && games">
      <h3>Games List:</h3>
      <div class="game-appear">
        <div *ngIf="games.length > 0">
          <div class="grid-container">
            <div *ngFor="let game of games">
              <div class="card">
                <div class="image-container">
                  <img
                    src="{{ game.imagePath }}"
                    onerror="this.onerror=null; this.src='/assets/images/no-image-icon.png'"
                  />
                </div>
                <div class="title-container">
                  <h1>{{ game.title }}</h1>
                </div>
                <div class="content-container">
                  <div class="card-content">
                    <div class="gameProperties">
                      <div class="content">
                        <mat-icon aria-hidden="false">groups_outline</mat-icon>
                        {{ game.minPlayers | flatten: game.maxPlayers }}
                      </div>
                      <div class="content">
                        <mat-icon aria-hidden="false">timer</mat-icon>
                        {{ game.minPlayTime | flatten: game.maxPlayTime }}
                        min
                      </div>
                      <div class="content">
                        <mat-icon aria-hidden="false">person</mat-icon>
                        {{ game.minAge }}+
                      </div>
                    </div>
                  </div>
                </div>
                <div class="note" *ngIf="game.note != ''">
                  <mat-icon aria-hidden="false">info_outline</mat-icon>
                  {{ game.note }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
