<mat-card>
  <div class="example-container">
    <form [formGroup]="form" (submit)="onPlay()">
      <div class="form-container">
        <mat-form-field class="form-field" appearance="outline">
          <mat-label> Players </mat-label>
          <input matInput formControlName="players" type="number" required />
          <mat-error
            *ngIf="
              form.controls.players.touched && form.controls.players.invalid
            "
          >
            <span *ngIf="form.controls.players.errors.required"
              >This field is mandatory.</span
            >
            <span *ngIf="form.controls.players.errors.pattern"
              >This field is invalid.</span
            >
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label> Maximal play time </mat-label>
          <input matInput formControlName="maxPlayTime" type="number" required/>
          <mat-error
            *ngIf="
              form.controls.maxPlayTime.touched &&
              form.controls.maxPlayTime.invalid
            "
          >
            <span *ngIf="form.controls.maxPlayTime.errors.required"
              >This field is mandatory.</span
            >
          </mat-error>
        </mat-form-field>
        <!--
        <mat-form-field class="form-field" appearance="outline">
          <mat-label> Minimal age </mat-label>
          <input matInput formControlName="minAge" type="number" />
          <mat-error
            *ngIf="form.controls.minAge.touched && form.controls.minAge.invalid"
          >
            <span *ngIf="form.controls.minAge.errors.required"
              >This field is mandatory.</span
            >
          </mat-error>
        </mat-form-field>
      -->
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Select age group</mat-label>
        <mat-select formControlName="ageControl" required>
          <mat-option value="all">All ages</mat-option>
          <mat-option value="kids">Kids (<6)</mat-option>
          <mat-option value="family">Family (6-12)</mat-option>
          <mat-option value="adult">Adult (>12)</mat-option>
        </mat-select>
      </mat-form-field>
      </div>
      <div class="button-container">
        <button mat-raised-button color="accent" type="submit">Play!</button>
      </div>
    </form>
  </div>

  <div class="apiError" *ngIf="apiError">
    <md-icon class="material-icons">error</md-icon> {{ apiError }}
  </div>
</mat-card>

<div class="games-container">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <mat-card *ngIf="!isLoading && game">
    <h3>Your selection:</h3>
    <div class="game">
      <div class="image-text-container">
        <div class="image-container">
          <img src="{{ game.imagePath }}" />
        </div>
        <div class="title-container">
          <h1>{{ game.title }}</h1>
        </div>
        <div class="content-container">
          <div class="card-content">
            <div class="gameProperties">
              <div class="content">
                <mat-icon aria-hidden="false">groups_outline</mat-icon>
                {{ game.minPlayers }} - {{ game.maxPlayers }}
              </div>
              <div class="content">
                <mat-icon aria-hidden="false">timer</mat-icon>
                {{ game.minPlayTime
                }}{{
                  game.minPlayTime === game.maxPlayTime
                    ? ""
                    : "-" + game.maxPlayTime
                }}
                min
              </div>
              <div class="content">
                <mat-icon aria-hidden="false">person</mat-icon>
                {{ game.minAge }}+
              </div>
            </div>
          </div>
        </div>
        <div
          class="content note"
          id="{{ 'game' + i }}"
          *ngIf="game.note != ''"
          (click)="toggleNote(i)"
          truncated="0"
        >
          <mat-icon aria-hidden="false">info_outline</mat-icon>
          {{
            game.note.length > maxNoteLength
              ? (game.note | slice: 0:50) + ".."
              : game.note
          }}
          <!--{{ game.note }}-->
          <div
            *ngIf="game.note.length > maxNoteLength"
            class="showMore"
            id="{{ 'showMore' + i }}"
          >
            show more
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>
