.img-container {
  text-align: center;
}

img {
  max-width:80%;
  max-height:400px;
}

mat-form-field {
  width: 100%;
}

.flex {
  display: flex;
}

.horizontal {
  flex: 1 1 auto;
}

.horizontal mat-form-field {
  width: 50%;
}

.horizontal mat-form-field:nth-child(1) {
  padding-right: 5px;
}

.horizontal mat-form-field:nth-child(2) {
   padding-left: 5px;
}

.button-container {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
}

.save-button {
  margin-left: 10px;
}
