.info-card {
  padding-top: 30px;
  margin: auto;
  text-align: center;
  animation: slideInFromBottom 0.5s ease-in;
  max-width: 1024px;
}

.dashboard-image {
  background: url("http://gamechanger-env.eba-gcdtb5tt.eu-central-1.elasticbeanstalk.com/images/dashboard.jpg") no-repeat center;
  background-size: cover;
  padding-top: 36px;
  height: 380px;
  width: 100%;
  position: relative;
}

@keyframes slideInFromBottom {
  0% {
      transform: translateY(10%);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

.login {
  padding-top: 5px;
}
