<div class="info-card">
  <mat-card class="mat-elevation-z6">
    <mat-card-title>Select and manage your board games</mat-card-title>
    <mat-card-content class="hero-button-container">
      <p>This is the gameChanger to select your board games!</p>
      <div>
        <button
          mat-raised-button
          color="primary"
          routerLink="/auth/signup"
          type="submit"
          name="signup"
        >
          <div class=signup>Sign up for free</div>
        </button>
      </div>
      <div>
        <a routerLink="/auth/login">or log in</a>
      </div>
    </mat-card-content>
  </mat-card>
</div>
