/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./theme.scss";
$accent: map-get($theme, accent);
$warn: map-get($theme, warn);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Styles for snackbar
.snackbar-success-style{
  background-color:white;
  color:green;
}

.snackbar-error-style{
  background-color:white;
  color: mat-color($warn);
}
*/

mat-spinner {
  margin: auto;
}

.material-icons {
  vertical-align: -6px;
}

.dispError {
  color: mat-color($warn);
  margin-top: 20px;
}

.dispSuccess {
  color: green;
  margin-top: 20px;
}

/* unvisited link */
a:link {
  color: #3f51ae;
}

/* visited link */
a:visited {
  color: #3f51ae;
}

/* mouse over link */
a:hover {
  color: mat-color($accent);
}

/* selected link */
a:active {
  color: #3f51ae;
}

@keyframes appear {
  0% {
    transform: translateY(-5%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
