<h2 mat-dialog-title>Add game</h2>
<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-dialog-content class="mat-typography" *ngIf="!isLoading">
  <div class="form-container">
    <form [formGroup]="form">
      <div class="flex horizontal">
        <mat-form-field appearance="legacy">
          <mat-label>Title</mat-label>
          <input
            matInput
            formControlName="title"
            required
            cdkFocusInitial
            (keyup.enter)="onSearch()"
          />
          <mat-error
            *ngIf="form.controls.title.touched && form.controls.title.invalid"
          >
            <span *ngIf="form.controls.title.errors?.required">{{
              errors.required
            }}</span>
            <span *ngIf="form.controls.title.errors?.minlength">{{
              errors.minLength2
            }}</span>
          </mat-error>
        </mat-form-field>
        <div class="search-button-container">
          <button
            *ngIf="useApi"
            mat-raised-button
            color="primary"
            type="button"
            (click)="onSearch()"
            id="search-button"
          >
            <mat-icon>search</mat-icon> search
          </button>
        </div>
      </div>
      <div *ngIf="useApi">
        <div class="dispError" *ngIf="dispError">
          <md-icon class="material-icons">error</md-icon> {{ dispError }}
        </div>

        <div *ngIf="games.length > 0" class="gamesList">
          <div class="grid-container">
            <div
              *ngFor="let game of games; let i = index; trackBy: trackByTitle"
              #gamesRef
            >
              <div class="card" (click)="setActive(game, i)">
                <div class="image-container">
                  <img src="{{ game.imagePath }}" />
                </div>
                <div class="title-container">
                  <h1>{{ game.title }}</h1>
                </div>
                <div class="content-container">
                  <div class="card-content">
                    <div class="gameProperties">
                      <div class="content">
                        <mat-icon aria-hidden="false">groups_outline</mat-icon>
                        {{ game.minPlayers }} - {{ game.maxPlayers }}
                      </div>
                      <div class="content">
                        <mat-icon aria-hidden="false">timer</mat-icon>
                        {{ game.minPlayTime
                        }}{{
                          game.minPlayTime === game.maxPlayTime
                            ? ""
                            : "-" + game.maxPlayTime
                        }}
                        min
                      </div>
                      <div class="content">
                        <mat-icon aria-hidden="false">person</mat-icon>
                        {{ game.minAge }}+
                      </div>
                    </div>
                  </div>
                </div>
                <div class="content note" *ngIf="game.note != ''">
                  <mat-icon aria-hidden="false">info_outline</mat-icon>
                  {{ game.note }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="moreGames" *ngIf="!noMoreEntries && games.length > 0">
          <button mat-button (click)="moreGames()">Load more games</button>
          <mat-spinner *ngIf="isLoadingMore"></mat-spinner>
        </div>
      </div>
      <div *ngIf="!useApi">
        <mat-form-field appearance="legacy">
          <mat-label>Image</mat-label>
          <input
            matInput
            formControlName="imagePath"
            placeholder="Insert link to image path"
          />
        </mat-form-field>
        <mat-form-field appearance="legacy">
          <mat-label>minAge</mat-label>
          <input matInput formControlName="minAge" required type="number" />
          <mat-error
            *ngIf="form.controls.minAge.touched && form.controls.minAge.invalid"
          >
            <span *ngIf="form.controls.minAge.errors?.required">{{
              errors.required
            }}</span>
            <span *ngIf="form.controls.minAge.errors?.min">{{
              errors.minZero
            }}</span>
          </mat-error>
        </mat-form-field>
        <div class="flex horizontal">
          <mat-form-field appearance="legacy">
            <mat-label>minPlayers</mat-label>
            <input
              matInput
              formControlName="minPlayers"
              required
              type="number"
            />
            <mat-error
              *ngIf="
                form.controls.minPlayers.touched &&
                form.controls.minPlayers.invalid
              "
            >
              <span *ngIf="form.controls.minPlayers.errors?.required">{{
                errors.required
              }}</span>
              <span *ngIf="form.controls.minPlayers.errors?.min">{{
                errors.minOne
              }}</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="legacy">
            <mat-label>maxPlayers</mat-label>
            <input
              matInput
              formControlName="maxPlayers"
              required
              type="number"
            />
            <mat-error
              *ngIf="
                form.controls.maxPlayers.touched &&
                form.controls.maxPlayers.invalid
              "
            >
              <span *ngIf="form.controls.maxPlayers.errors?.required">{{
                errors.required
              }}</span>
              <span *ngIf="form.controls.maxPlayers.errors?.min">{{
                errors.minOne
              }}</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="error-message">
          <mat-error
            *ngIf="
              form.controls.minPlayers.touched &&
              form.controls.minPlayers.valid &&
              form.controls.maxPlayers.touched &&
              form.controls.maxPlayers.valid
            "
          >
            <span *ngIf="form.errors?.minPlayersGreaterMaxPlayers">{{
              errors.minPlayersGreaterMaxPlayers
            }}</span>
          </mat-error>
        </div>
        <div class="flex horizontal">
          <mat-form-field appearance="legacy">
            <mat-label>minPlaytime</mat-label>
            <input
              matInput
              formControlName="minPlayTime"
              required
              type="number"
            />
            <mat-error
              *ngIf="
                form.controls.minPlayTime.touched &&
                form.controls.minPlayTime.invalid
              "
            >
              <span *ngIf="form.controls.minPlayTime.errors?.required">{{
                errors.required
              }}</span>
              <span *ngIf="form.controls.minPlayTime.errors?.min">{{
                errors.minOne
              }}</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="legacy">
            <mat-label>maxPlayTime</mat-label>
            <input
              matInput
              formControlName="maxPlayTime"
              required
              type="number"
            />
            <mat-error
              *ngIf="
                form.controls.maxPlayTime.touched &&
                form.controls.maxPlayTime.invalid
              "
            >
              <span *ngIf="form.controls.maxPlayTime.errors?.required">{{
                errors.required
              }}</span>
              <span *ngIf="form.controls.maxPlayTime.errors?.min">{{
                errors.minOne
              }}</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="error-message">
          <mat-error
            *ngIf="
              form.controls.minPlayTime.touched &&
              form.controls.minPlayTime.valid &&
              form.controls.maxPlayTime.touched &&
              form.controls.maxPlayTime.valid
            "
          >
            <span *ngIf="form.errors?.minPlayTimeGreaterMaxPlayTime">{{
              errors.minPlayTimeGreaterMaxPlayTime
            }}</span>
          </mat-error>
        </div>
        <mat-form-field appearance="legacy">
          <mat-label>gameType</mat-label>
          <mat-select required value="boardgame">
            <mat-option value="boardgame">Boardgame</mat-option>
            <mat-option value="videogame">Videogame</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="legacy">
          <mat-label>note</mat-label>
          <textarea matInput formControlName="note"></textarea>
        </mat-form-field>
      </div>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="buttons-container">
    <div class="toggleButton">
      <button mat-button (click)="toggleFormType()">
        {{ toggleFormText }}
      </button>
    </div>
    <div class="actionButtons flex horizontal">
      <button mat-button type="button" mat-dialog-close>Cancel</button>
      <div class="save-button-container">
        <button
          color="primary"
          mat-raised-button
          cdkFocusInitial
          type="button"
          [disabled]="!form.valid"
          (click)="onSubmit()"
        >
          Save
        </button>
      </div>
      <!--[mat-dialog-close]="true"-->
    </div>
  </div>
</mat-dialog-actions>
